#map {
    width: 675px;
    height: 400px;
    float: left;
    margin-right: 8px;
    border: 1px solid #dddddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.span6 {
    margin: 0;
}

#formu {
    float: left;
    width: 360px;
    margin-left: 0px;
}

form label {
    width: 85px !important;
    text-align: left !important;
}

.form-horizontal .controls {
    margin-left: 85px;
}

.row {
    margin-left: 0px;
}